.quantity,
.price,
.product-name {
  font-style: italic;
}

.profileSection {
  padding: 20px;
}

.breadcrumb {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary {
  background-color: blue;
}

.card-body {
  padding: 20px;
}

.card-body h4 {
  color: #007bff;
}

.row {
  margin-bottom: 10px;
}

hr {
  border-top: 1px solid #ccc;
  margin: 15px 0;
}
